#demo_top_mes {
    display: inline-block;
    vertical-align: top;
    font-size: 1.4rem;
}

.joinchamplebutton {
    color: white;
    margin-top: 5px;
    width: 340px;
    height: 40px;
    font-size: 20px;
    background: #00bfff;
    background: darkorange;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.joinchamplebutton:hover {
    background: #1e90ff;
    background: orange;
}
#clickphoto_mes_flame {
    display: inline;
    position: relative;
    cursor: default;
}
#clickphoto_mes {
    font-size: 1.5rem;
    display: inline-block;
    margin: 7px 0 0 20px;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    vertical-align: top;
}
#options_description_flame {
    position: relative;
}
#options_description {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 5px 10px;
    background: white;
    border-radius: 5px;
    font-size: 1.5rem;
}
#contact_container {
    width: 450px;
    height: 160px;
    position: absolute;
    top: 200px;
    left: 250px;
    z-index: 2;
    background: black;
    opacity: 0.6;
    color: white;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
}
.contact_titles {
    margin: 20px 20px 0 20px;
    font-size: 20px;
}
.contact_contents {
    margin: 10px 20px 0 40px;
    font-size: 15px;
}

.triangle_left_2 {
    position:absolute;
    width: 0;
    height: 0;
    left: 4px;
    top: -14px;
    border-top: 8px solid transparent;/*下向き三角*/
    border-right: 8px solid  white;/*左向き三角*/
    border-left: 8px solid transparent;/*右向き三角*/
    border-bottom: 8px solid transparent;/*上向き三角*/
    opacity: 1;
}
.triangle_top2 {
    position:absolute;
    width: 0;
    height: 0;
    right: 135px;
    top: -5px;
    border-top: 8px solid transparent;/*下向き三角*/
    border-right: 8px solid transparent;/*左向き三角*/
    border-left: 8px solid transparent;/*右向き三角*/
    border-bottom: 8px solid white;/*上向き三角*/
    opacity: 1;
}

.newmes {
    display: none;
}

#demo_talk_mes {
    position: absolute;
    top: 80px;
    left: 50px;
    color: white;
    font-size: 1.7rem;
    line-height: 130%;
}
#demo_talk_photo {
    position: absolute;
    top: 150px;
    left: 210px;
}

.reflection-img{
    position    :relative;
    overflow    :hidden;
}
.reflection {
    height      :100%;
    width       :30px;
    position    :absolute;
    top         :-180px;
    left        :0;
    background-color: #fff;
    opacity     :0;
    transform: rotate(45deg);
    animation: reflection 2s ease-in-out infinite;
    -webkit-transform: rotate(45deg);
    -webkit-animation: reflection 4s ease-in-out infinite;
    -moz-transform: rotate(45deg);
    -moz-animation: reflection 4s ease-in-out infinite;
    -ms-transform: rotate(45deg);
    -ms-animation: reflection 4s ease-in-out infinite;
    -o-transform: rotate(45deg);
    -o-animation: reflection 4s ease-in-out infinite;
}
@keyframes reflection {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
}
@-webkit-keyframes reflection {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
@-moz-keyframes reflection {
    0% { -moz-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -moz-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -moz-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -moz-transform: scale(50) rotate(45deg); opacity: 0; }
}
@-ms-keyframes reflection {
    0% { -ms-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -ms-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -ms-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -ms-transform: scale(50) rotate(45deg); opacity: 0; }
}
@-o-keyframes reflection {
    0% { -o-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -o-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -o-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -o-transform: scale(50) rotate(45deg); opacity: 0; }
}