html,body {
    background: gray;
    width: 854px;
}

#title_bar {
	position: relative;
	width: 854px;
	height: 30px;
	padding-top: 15px;
    color: white;
}

h1 {
    float: left;
    font-size: 12px;
}
#topright {
	float: right;
	font-size: 12px;
}

#toppage a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
#whatischample {
    cursor: pointer;
}
#login {
    cursor: pointer;
}

#contact_container {
	width: 450px;
    height: 160px;
    position: absolute;
    top: 200px;
    left: 202px;
    z-index: 2;
    background: black;
    opacity: 0.6;
    color: white;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
}
.contact_titles {
	margin: 20px 20px 0 20px;
	font-size: 20px;
}
.contact_contents {
	margin: 10px 20px 0 40px;
	font-size: 15px;
}

#screen1 {
    width: 854px;
    height: 570px;
    background: url("../images/cover1.jpg") no-repeat;
    position: relative;
}
#screen2 {
    display: none;
    width: 854px;
    height: 570px;
    background: url("../images/cover2.jpg") no-repeat;
    position: relative;
}
#screen3 {
    display: none;
    width: 854px;
    height: 570px;
    background: url("../images/cover3.jpg") no-repeat;
    position: relative;
}
.black {
    width: 854px;
    height: 570px;
    background: #696969;
    opacity: 0.6;
}
.mes {
    color: white;
    position: absolute;
    font-family: serif;
}
#mes1 {
    top: 70px;
    left: 80px;
    width: 500px;
}
#mes2 {
    top: 100px;
    left: 450px;
    width: 400px;
}
#mes3 {
    top: 40px;
    left: 60px;
    width: 400px;
}
.large_mes {
    display: none;
    font-size: 40px;
}
.small_mes {
    margin-top: 10px;
    font-size: 20px;
    line-height: 125%;
}
.firstline {
    display: none;
}
.secondline {
    display: none;
}
.joinchamplebutton {
    display: none;
    margin-top: 20px;
    width: 340px;
    height: 40px;
    font-size: 20px;
    background: #1e90ff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.joinchamplebutton:hover {
    background: #00bfff;
}
.moredetailsbutton, .backbutton {
    display: none;
    margin-top: 10px;
    width: 340px;
    height: 40px;
    font-size: 20px;
    background: gray;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.moredetailsbutton:hover, .backbutton:hover{
    background: darkgray;
}
.moredetails {
    display: none;
    font-size: 20px;
    line-height: 125%;
    position: absolute;
    top: 0;
    width: 380px;
}