#world {
    width: 100%;
    height: 300px;
}

#dialog {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
#youtalked {
    display: inline-block;
    vertical-align: top;
    padding: 1px 10px;
    color: white;
}
.emphasis2 {
    font-size: 1.5rem;
}
#images {
    display: inline-block;
    cursor: pointer;
}

#hint {
    width: 98%;
    margin-left: 2%;
    font-size: 1.2rem;
}
