#policy_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: black;
    opacity: 0.6;
    color: white;
}
#policy_title {
    padding: 15px 15px 0 15px;
    font-size: 1.5rem;
}
#termsand {
    padding: 2px 5px 5px 5px;
    border: 2px solid white;
    background: white;
    color: black;
    display: block;
    width: 230px;
}
#privacypolicy {
    padding: 2px 5px 5px 5px;
    border: 2px solid white;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: 230px;
}
#japanese {
    font-size: 9px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    display: block;
}
#policy_message {
    font-size: 12px;
    margin: 10px 15px 15px 15px;
    padding: 15px;
    height: 40%;
    border: 2px solid white;
    line-height: 130%;
    overflow: scroll;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
}
.headlines {
    font-weight: bold;
    margin: 12px 0 6px 0;
}
.applyboxes {
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 5px;
}
.applylabels {
    cursor: pointer;
    margin-left: 5px;
    font-size: 1.2rem;
}
#applyalerts {
    visibility: hidden;
    color: yellow;
    font-size: 1.2rem;
    margin-left: 35px;
}
#applybuttonsflame {
    float: right;
    margin: 10px 10px 10px 0px;
}
.applybuttons {
    display: inline-block;
    font-size: 18px;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 3px;
    margin-right: 15px;
    border: 2px solid white;
    border-radius: 7px;
}
.applybuttons:hover {
    background: white;
    color: black;
    cursor: pointer;
}