#call_container {
    width: 315px;
    height: 244px;
    position: absolute;
    top: 200px;
    left: 307px;
    z-index: 2;
}
.white_blank {
    background: white;
    width: 100%;
    height: 2px;
}

#row1 {
    height: 80px;
    width: 315px;
    overflow: hidden;
}
.called_intro {
    float: right;
    width: 214px;
    padding: 7px 10px 0px 10px;
}
.called_intro_top {
    font-size: 1.6rem;
}
.called_nation {
    word-wrap: break-word;
}
.called_intro_bottom {
    margin-top: 5px; 
    font-size: 1.3rem;
    line-height: 120%;
    color: white;
}

#photo_flame {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
#row2 {
    height: 80px;
    width: 315px;
    overflow: scroll;
}
#longbio {
    float: right;
    padding: 5px 10px;
    font-size: 1.4rem;
    color: white;
    width: 295px;
    line-height: 115%;
}
