<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>Chample | Restricted</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=320,initial-scale=1" />
    <link id="bodycss" rel="stylesheet" href="../stylesheets/body.css" />
    <link id="headercss" rel="stylesheet" href="../stylesheets/header.css" />
    <link rel="stylesheet" href="../stylesheets/restrict.css" />
    <link id="settingscss" rel="stylesheet" href="../stylesheets/settings.css" />
    <link id="twoRowscss" rel="stylesheet" href="../stylesheets/twoRows.css" />
    <link id="chatcss" rel="stylesheet" href="../stylesheets/chat.css" />
    <link id="logincss" rel="stylesheet" href="../stylesheets/login.css" />
    <script src="../javascripts/getCookie.js"></script>
    <script src="../javascripts/writeHeader.js"></script>
    <script src="../javascripts/pulldowns.js"></script>
    <script src="../javascripts/mobile_css.js"></script>
</head>
<body>
    <script type="text/javascript">writeHeader();</script>
    <div class="restrict_messages">Some of the functions are temporary restricted.</div>
    <div class="restrict_messages">Because we recieved some reports about you.</div>
    <div id="releasedate" class="restrict_messages"></div>
    <div id="rawrelease" style="display:none;"><%= release %></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://localhost:8080/socket.io/socket.io.js"></script>
<!--<script src="https://signaling.chample.in/socket.io/socket.io.js"></script>-->
<script src="../javascripts/conf.js"></script>
<script src="../javascripts/dateformat.js"></script>
<script src="../javascripts/sendSignal.js"></script>
<script src="../javascripts/restrict.js"></script>
<script src="../javascripts/settings.js"></script>
<script src="../javascripts/load_image.js"></script>
<script src="../javascripts/chat.js"></script>
<script src="../javascripts/token.js"></script>

<script>refreshCookies();</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-74825022-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>